<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="css/app.css">
        <title>insta-phie</title>
    </head>

    <body id="search">
        <img src="img/insta.png">
        <h1>Введите имя пользователя и кол-во постов</h1>
        <form action="/search">
            <input type="text" name="username" placeholder="username">
            <input type="text" name="count" placeholder="count" value="all">
            <button type="submit">Загрузить в demo</button>
        </form>
    </body>
</html>