<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="css/app.css">
        <title>READY</title>
    </head>

    <body id="ready">
        <p>Готово</p>
        <h2><a href='../'>Вернуться на главную</a></h2>
        <iframe src="http://5.79.97.23:443/app/kibana#/dashboard/4422fcd0-e372-11e7-88e3-53923483be0a?embed=true&_g=(refreshInterval%3A(display%3AOff%2Cpause%3A!f%2Cvalue%3A0)%2Ctime%3A(from%3Anow-2y%2Cinterval%3Aauto%2Cmode%3Aquick%2Ctimezone%3AEurope%2FMinsk%2Cto%3Anow))"></iframe>
    </body>
</html>