<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="css/app.css">
        <title>READY</title>
    </head>

    <body id="ready">
        <p>Готово</p>
        <h2><a href='../'>Вернуться на главную</a></h2>
        <iframe src="http://localhost:5601/app/kibana#/dashboard/e0300480-eb4a-11e7-b975-619bab7bd71b?embed=true&_g=()"></iframe>
    </body>
</html>